header {
    background: #002B5B;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-logo {
    font-style: oblique;
    background-color: beige;
    padding: 10px;
    border-bottom: 5px solid red;

}

.sub-link {
    border: 2px solid #EA5455;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}

.srch-box {
    border: 2px solid #EA5455;
    color: #ffffff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
}
.nav-btns {
    display: flex;
    flex-wrap: wrap;
}
.aboutMe {
    margin-left: 10px;
    background-color: #EA5455;
    color: #171717;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
}